<div class="col-md-12">
  <h1><%= @restaurant.name %></h1>
  <p>電話番号: <%= @restaurant.tel %></p>
  <p>住所: <%= @restaurant.address %></p>
  <p>URL: <%= @restaurant.url %></p>

  <%= link_to "編集", edit_restaurant_path(@restaurant), class: "btn btn-default" %>
  <%= link_to "削除", restaurant_path(@restaurant), class: "btn btn-default", method: :delete %>
</div>
